/.idea/
/backend/shortener_service/.env
/backend/shortener_service/app/app.log
/backend/shortener_service/app.log
/backend/url-validator/.env
/backend/url-validator/validator_app/app.log
/docker/.env
/secrets/kafka_server_jaas.conf
/k8s/shortener/secret.yaml
/k8s/url-validator/secret.yaml

/k8s/redis/secret.yaml
/backend/shortener_service/.env.local
/backend/shortener_service/.env.docker

# statistics-service
/backend/statistics-service/node_modules/
/backend/statistics-service/dist/
/backend/statistics-service/coverage/
/backend/statistics-service/.env
