apiVersion: v1
kind: Secret
metadata:
  name: validator-secret
type: Opaque
stringData:
  MONGO_URL: "mongodb://blablabla@host.docker.internal:27017/?authSource=admin"
  MONGO_INITDB_ROOT_USERNAME: "your_uer"
  MONGO_INITDB_ROOT_PASSWORD: "your_password"
  GOOGLE_API_KEY: "your_key"